<section class="max-w-[103rem] min-h-[60rem] p-24 m-auto mb-80 border rounded-xl flex flex-col">
    <div class="section-heading mb-24 text-start relative">
        <h3 style="font-family: 'Poppins', sans-serif;" class="text-4xl md:text-5xl my-2 font-extrabold text-[#121535] leading-tight relative inline-block">
          Trending Products
        </h3>
      </div>      

    <div class="flex flex-col">
        <div class="rounded-2xl w-full h-auto max-xl:h-[150px] max-lg:h-[120px] max-md:h-[110px] max-sm:h-[100px] mb-24 overflow-hidden">
            <img
                class="w-full h-full"
                src="{{ 'banner trending.png' | asset_url }}"
                alt="Trending banner"
                width="1000"
                height="260"
            />
        </div>
    </div>

    <ul class="w-full flex-grow grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-20 md:gap-10 lg:gap-20 cards">
        {% for product in collections.all.products %}
            {% if product.tags contains 'trending' %}
                <li class="w-full">{% render 'product-card', product: product %}</li>
            {% endif %}
        {% endfor %}
    </ul>
</section>